.header {
  padding: 96px 0 77px;
}
.header_inner {
  padding: 24px 0 60px;
}
.header__title {
  font: var(--h1);
}
/*стили для телефона с шириной экрана X < 768 */
@media screen and (max-width: 767px) {
  .header__title {
    font: var(--h3);
    color: var(--text-secondary);
  }
}
