.header {
  padding: 24px 0 0;
}
.header_inner {
  padding: 24px 0 60px;
  background-color: var(--background-secondary);
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}
.header__title {
  font: var(--h1);
  margin-bottom: 77px;
}

/*стили для телефона с шириной экрана X < 768 */
@media screen and (max-width: 767px) {
  .header {
    padding: 16px 0 0px;
  }
  .header_inner {
    padding: 16px 0;
  }
  .header__top {
    margin-bottom: 48px;
    justify-content: center;
  }
  .header__title {
    font: var(--h3);
    color: var(--text-secondary);
    margin-bottom: 69px;
  }
}
