.card {
  height: 367px;
  padding: 32px 25px;
  border-radius: 12px;
  background-color: var(--background-primary);
  box-shadow: var(--drop-shadow);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.card__content {
  flex-grow: 1;
}
.card__description {
  text-align: center;
}
.card__title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 6px;
}
.card__subtitle {
  font-size: 16px;
  font-weight: 400;
}
/*стили для телефона с шириной экрана X < 768*/
@media screen and (max-width: 767px) {
  .card {
    height: 210px;
    padding: unset;
    border-radius: 8px;
    gap: 0px;
  }
  .card__description {
    border-top: 1px solid var(--border-secondary);
    padding: 12px 10px;
  }
  .card__title {
    font: var(--p);
    color: var(--text-primary);
    margin-bottom: 0px;
  }
  .card__subtitle {
    display: none;
  }
}
