.card {
  height: 367px;
  padding: 32px 25px;
  border-radius: 12px;
  background-color: var(--background-primary);
  box-shadow: var(--drop-shadow);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.card__content {
  flex-grow: 1;
}
.card__description {
  text-align: center;
}
.card__title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 6px;
}
.card__subtitle {
  font-size: 16px;
  font-weight: 400;
}
