.page {
  height: 100%;
  color: var(--text-primary);
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
}
.page__main {
  flex-grow: 1;
}
.page_inner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}
.page__header {
  grid-area: header;
}
.page_inner .page__main {
  grid-area: main;
}
.page__footer {
  grid-area: footer;
}
