@import '../fonts/fonts.css';
@import 'destyle.css';
@import '../../components/page/page.css';
@import '../../components/content-area/content-area.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/card/card.css';
@import '../../components/menu/menu.css';
@import '../../components/component/component.css';
@import '../../03-lection1/01-button/button.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #374fc7;
  --red: #f03d3e;
  --grey-0: #f9fafc;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);
  --notification: #d84910;

  --primary: var(--blue);
  --secondary: var(--purple);

  --background-primary: var(--white);
  --background-secondary: var(--grey-0);
  --overlay: rgba(196, 196, 196, 50%);

  --border-primary: var(--grey-3);
  --border-secondary: var(--grey-2);

  --drop-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);

  --text-primary: var(--black);
  --text-primary-black: #000;
  --text-primary-button: var(--white);
  --text-primary-on-dark-background: var(--grey-2);
  --text-secondary: var(--grey-4);
  --text-muted: var(--grey-3);

  --h1: 500 50px/64px 'Inter', sans-serif;
  --h2: 500 38px/48px 'Inter', sans-serif;
  --h3: 400 28px/38px 'Inter', sans-serif;
  --h4: 400 20px/26px 'Inter', sans-serif;
  --h5: 500 12px/18px 'Inter', sans-serif;
  --p: 400 16px/24px 'Inter', sans-serif;
  --small: 400 14px/22px 'Inter', sans-serif;

  --breakpoint-mobile-small: 480px;
  --breakpoint-mobile: 768px;
  --breakpoint-tablet-small: 960px;
  --breakpoint-tablet: 1280px;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
}
