.skeleton {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 40px 32px 24px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
}
.skeleton__header {
  display: flex;
  gap: 16px;
  align-items: center;
}
.skeleton__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--grey-2);
  flex-shrink: 0;
}
.skeleton__title {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.skeleton__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.skeleton__line {
  height: 20px;
  background: linear-gradient(
    to right,
    #dde2e5 0%,
    #e2e6e8 33%,
    #f3f5f5 52%,
    #e3e7ea 74%,
    #dde2e5 100%
  );
}
.skeleton__line_short {
  width: 40%;
}
.skeleton__line_medium {
  width: 60%;
}
.skeleton__line_long {
  width: 100%;
}
