.footer {
  padding: 71px 0 136px;
}
.footer_inner {
  background-color: var(--background-secondary);
  padding: 92px 0 56px;
}
.footer__title {
  font: var(--h2);
  text-align: center;
  margin-bottom: 32px;
}
.footer__text {
  font: var(--p);
  text-align: center;
  max-width: 640px;
  margin: auto;
}
.footer_inner .footer__text {
  color: var(--text-muted);
  font: var(--h5);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
