.preview {
  background-color: var(--background-secondary);
  border-top: 1px solid var(--border-secondary);
  border-bottom: 1px solid var(--border-secondary);
  padding: 68px 0;
}
.preview_inner {
  padding: 0;
  background-color: var(--background-secondary);
  border: 0;
}
.preview__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'menu component';
  gap: 56px;
}
.preview__menu {
  grid-area: menu;
}
.preview__component {
  grid-area: component;
}
.preview__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 64px;
}
.preview__button {
  /*внешний контейнер для кнопки для центрирования кнопки на странице*/
  display: flex;
  justify-content: center;
}
/*стили для телефона с шириной экрана X < 768 */
@media screen and (max-width: 767px) {
  .preview {
    padding: 24px 0;
  }
  .preview_inner {
    padding: unset;
    background-color: var(--background-primary);
  }
  .preview__wrapper {
    display: block;
  }
  .preview__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 16px;
    margin-bottom: 24px;
  }
}
