.preview {
  background-color: var(--grey-1);
  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
  padding: 68px 0;
}
.preview__grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
}
